{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include 'layout/header.html.twig' %}
	{% include 'layout/menu.html.twig' %}
	<h5>Accueil</h5>

	{% include 'layout/footer.html.twig' %}

{% endblock %}
