{% extends 'base.html.twig' %}

{% block title %}EloCongé | Ajouter un collaborateur
{% endblock %}

{% block body %}
	{% include 'layout/header.html.twig' %}
	{% include 'layout/menu.html.twig' %}
	<a href="{{ path('app_list_person') }}" class="btn btn-primary">Retour à la liste</a>

	<br><div style="text-align: center;"><h3>Ajouter un nouveau collaborateur</h3></div><br>
	{{ form(form) }}

	{% include 'layout/footer.html.twig' %}
{% endblock %}

